#Project Information
site_name: Holodeck
site_url: https://vmware.github.io/Holodeck/
site_author: Broadcom
docs_dir: docs

#Repository
repo_url: https://github.com/vmware/Holodeck
edit_uri: blob/main/docs/

#Configuration
theme:
  name: material
  custom_dir: overrides
  logo: images/VMware_by_Broadcom_White.png
  font:
    text: Roboto
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.instant
    - navigation.top
    - navigation.tracking
    - toc.integrate
    - toc.follow
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
      primary: custom
    - scheme: slate
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
      primary: black
      accent: deep purple

nav:
  - Getting Started: index.md
  - Release Notes: release_notes.md
  - Downloads: downloads.md
  - Command Reference: cmd_reference.md
  - Offline Depot: offline_depot.md 
  - Support: support_community.md
  - FAQ: faq.md


extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true

copyright: |
  Copyright © 2005-2025 Broadcom. All Rights Reserved. <br>
  The term “Broadcom” refers to Broadcom Inc. and/or its subsidiaries.<br><br>